<html lang="en">
  <head>
    <link rel="icon" href="/image/weather.jpg">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />

  </head>
  <body>

    <div class= "main-content">
       {{>header}}
       <p>This Site was Created by Siddharth Kumar. It uses data from mapbox.com and weatherstack.com !!</p>

    {{!-- <h1>About</h1>
    <h1>{{title}}</h1> --}}
    <img class = "portrait" src="/image/sid pic.JPG" />
    {{!-- <p>Created by: {{name}}</p> --}}
    </div>
    
       {{>footer}}
  </body>
</html>