<html lang="en">
  <head>
    <link rel="icon" href="/image/weather.jpg">
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
          {{>header}}
            <h3>Under Development...</h3>
          <p>
            Any query please send me a mail on <u><b>askingsidd13@gmail.com</b></u>
          </p><br>
    
    {{!-- <h1>This is help page</h1> --}}
    {{!-- <h1>{{title}}</h1> --}}
    
    <p>Help By : {{name}}</p>

    </div>

    
    {{>footer}}
    
  </body>
</html>